Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

(i) string

In [1]:
my_str="Manish Kuchalia"

(ii) list

In [3]:
list=[1,23.5,"mani",True,2+4J]

In [4]:
list

[1, 23.5, 'mani', True, (2+4j)]

(iii) float

In [5]:
f=23.4

In [6]:
f

23.4

(iv)tuple

In [8]:
t=(1,23.5,"mani",True,2+4J)

In [9]:
t

(1, 23.5, 'mani', True, (2+4j))

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

(i) var1 = ‘ ‘
:This is a string contaning a single space character
:Data of var1 string

(ii) var2 = ‘[ DS , ML , Python]’ 
:This is a string containing a list
:Data of var2 string

 (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
    :var3 is a list of strings
    :Data of var3 string

(iv) var4 = 1
:This is an integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [2]:

#Division operator(/)
a = 10
b = 2
result = a / b
print(result)

5.0

In [4]:
#Module operator(%)
a = 10
b = 3
result = a % b
print(result)

1

In [5]:
#Floor Division Operator(//)
a = 10
b = 3
result = a // b
print(result)

3

In [6]:
#Exponentiation Operator(**)
a = 10
b = 3
result = a**b
print(result)

1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
list = [42, "Hello, World!", 3.14, True, [1, 2, 3], {"name": "Andrew", "age": 30}, (4, 5), 5.6, False]

for element in list:
    print(element)

42
Hello, World!
3.14
True
[1, 2, 3]
{'name': 'Andrew', 'age': 30}
(4, 5)
5.6
False

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
A = 24 
B = 6

count = 0
while A >= B:
    A -= B
    count += 1

print(f"{A} is purely divisible by {B} {count} times")

0 is purely divisible by 6 4 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [5]:

li = [12, 7, 15, 9, 30, 21, 5, 18, 27, 36]
for element in li:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
15 is divisible by 3.
9 is divisible by 3.
30 is divisible by 3.
21 is divisible by 3.
5 is not divisible by 3.
18 is divisible by 3.
27 is divisible by 3.
36 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [7]:

#Immutable data types are those whose values cannot be modified after they are created. If you want to change the value of an immutable data type, you create a new object

x = 5  
y = 3.14 
str1 = "Hello"
tup = (1, 2, 3) |

In [ ]:
#Mutable data types are those whose values can be modified after creation. When you modify a mutable data type, 
you are changing the content of the same object rather than creating a new one.